.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 200px);
  border: 1px solid #ccc;
}

.win {
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;
  color: greenyellow;
}
